@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
}

.section-text {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}
.section-text .section-title {
  font-size: 2.5em;
  color: crimson;
  position: relative;
}
.section-text .section-title::before {
  content: "";
  display: inline-block;
  width: 150px;
  height: 5px;
  background-color: crimson;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
.section-text .section-title::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: crimson;
  position: absolute;
  border-radius: 50%;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container__bg-video {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.container__bg-video video {
  width: 100%;
}

section {
  padding: 150px 100px;
}

.menu-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999999;
}
.menu-btn .line {
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 7px;
  transition: all 0.2s linear;
}

.menu-btn__toggle .line {
  background-color: #000;
}
.menu-btn__toggle .line-1 {
  transform: rotate(45deg) translate(6px, 7px);
}
.menu-btn__toggle .line-2 {
  opacity: 0;
}
.menu-btn__toggle .line-3 {
  transform: rotate(-45deg) translate(4px, -7px);
}

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.22);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s linear;
}
.header .brand img {
  width: 220px;
}
.header .navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}
.header .navigation-list .navigation-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: all 0.2s linear;
  text-transform: capitalize;
}
.header .navigation-list .navigation-link:hover {
  color: crimson;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 170px;
}
.main .main-title {
  font-size: 4em;
  text-transform: capitalize;
  color: #fff;
}
.main .main-title span {
  color: crimson;
}
.main .main-socials {
  display: flex;
  align-items: center;
}
.main .main-socials a {
  display: inline-block;
  font-size: 2em;
  color: #fff;
  margin-right: 13px;
  transition: all 0.2s linear;
}
.main .main-socials .telegram:hover {
  color: #269fdd;
}
.main .main-socials .instagram:hover {
  color: #d55a29;
}
.main .main-socials .facebook:hover {
  color: #3e62a9;
}
.main .main-socials .github:hover {
  color: #000;
}

.about-me .about-me__text {
  display: flex;
}
.about-me .about-me__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.about-me .about-me__col img {
  width: 85%;
  border-radius: 20px;
}
.about-me .about-me__col:nth-child(2) {
  align-items: flex-start;
  justify-content: flex-start;
}

.my-skills {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 70px 100px 50px;
}
.my-skills .section-text {
  margin-bottom: 30px;
}
.my-skills .my-skills__text {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: justify;
}
.my-skills .my-skills__text .my-skills__col {
  width: 50%;
  padding: 50px;
}
.my-skills .my-skills__text .my-skills__text-description h2 {
  margin-bottom: 10px;
  font-size: 2em;
}
.my-skills .my-skills__text .my-skills__text-description p {
  line-height: 24px;
  font-size: 1.2em;
}
.my-skills .my-skills__text .my-skills__text-progress .progress {
  margin-bottom: 20px;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .progress-title {
  font-size: 1.4em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .progress-line {
  display: block;
  width: 100%;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .html::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  width: 92%;
  height: 20px;
  background-color: #e97605;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .css::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  width: 62%;
  height: 20px;
  background-color: #0b73b8;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .bootstrap::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  width: 72%;
  height: 20px;
  background-color: #693f9b;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .sass::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  width: 67%;
  height: 20px;
  background-color: #c45f92;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .javascript::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  width: 52%;
  height: 20px;
  background-color: #e2a324;
}
.my-skills .my-skills__text .my-skills__text-progress .progress .git::before {
  content: "";
  position: absolute;
  left: -2%;
  top: 0;
  width: 62%;
  height: 20px;
  background-color: #e74a25;
}

.my-services {
  padding: 70px 150px;
}
.my-services .my-services__text .my-services__text-desc {
  font-size: 1.2em;
  line-height: 25px;
  margin-bottom: 30px;
}
.my-services .my-services__text .my-services__cards {
  display: flex;
  align-items: center;
}
.my-services .my-services__text .my-services__cards .my-services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  padding: 20px 15px;
  transition: all 0.2s linear;
}
.my-services .my-services__text .my-services__cards .my-services__card p {
  text-align: justify;
}
.my-services .my-services__text .my-services__cards .my-services__card .my-services__card-icon {
  font-size: 7em;
  color: crimson;
  transition: all 0.2s linear;
}
.my-services .my-services__text .my-services__cards .my-services__card .card-text__title {
  font-size: 2em;
  text-transform: capitalize;
}
.my-services .my-services__text .my-services__cards .my-services__card .card-text__desc {
  font-size: 1.1em;
}
.my-services .my-services__text .my-services__cards .my-services__card:hover {
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
}
.my-services .my-services__text .my-services__cards .my-services__card:hover .my-services__card-icon {
  transform: translateY(-10px);
}
.my-services .my-services__text .my-services__cards .my-services__card:nth-child(2) {
  margin: 0 3%;
}

.my-work {
  background-color: #000000;
}
.my-work .my-work__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.my-work .my-work__images .my-work__img-wrapper {
  width: 340px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.my-work .my-work__images .my-work__img-wrapper img {
  width: 100%;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}
.my-work .my-work__images .my-work__img-wrapper .work-links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
  opacity: 0;
}
.my-work .my-work__images .my-work__img-wrapper .work-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: crimson;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
  border-radius: 4px;
}
.my-work .my-work__images .my-work__img-wrapper .work-links a:hover {
  background-color: #fff;
  color: #000;
}
.my-work .my-work__images .my-work__img-wrapper:hover img {
  transform: scale(1.1);
}
.my-work .my-work__images .my-work__img-wrapper:hover .work-links {
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 1;
}

.contact .contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact .contact-me .contact-me__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s linear;
}
.contact .contact-me .contact-me__card .contact-me__card-icon {
  font-size: 3em;
  color: crimson;
  transition: all 0.3s ease-in-out;
}
.contact .contact-me .contact-me__card .contact-me__card-info {
  width: auto;
}
.contact .contact-me .contact-me__card .contact-me__card-info h3 {
  font-size: 1em;
}
.contact .contact-me .contact-me__card .contact-me__card-info p {
  font-size: 0.7em;
}
.contact .contact-me .contact-me__card:hover {
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
}
.contact .contact-me .contact-me__card:hover .contact-me__card-icon {
  transform: translateY(-10px);
}
.contact .form {
  background: #fff;
  max-width: 600px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.contact .form .form-title {
  font-size: 2.5em;
  margin: 20px 0;
}
.contact .form input, .contact .form textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-size: 1.12em;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  transition: all 0.2s linear;
}
.contact .form input:focus, .contact .form textarea:focus {
  border-color: #1dd1a1;
}
.contact .form .send-button {
  color: #fff;
  background: crimson;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid crimson;
}
.contact .form .send-button:hover {
  background-color: transparent;
  color: #000;
  border-color: #000;
}

.sticky {
  background-color: crimson;
}
.sticky .navigation-link:hover {
  color: #000 !important;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  .container {
    width: 100%;
  }

  section {
    padding: 70px 20px;
  }

  .container__bg-video {
    width: 100%;
    height: 700px;
  }
  .container__bg-video video {
    width: 1220px;
    position: absolute;
  }

  .menu-btn {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .header {
    width: 100%;
    padding: 10px;
    display: inline-block;
    position: fixed;
  }
  .header .brand img {
    width: 150px;
  }
  .header .navigation {
    transition: all 0.5s linear;
    position: absolute;
    top: 43px;
    right: 0;
    z-index: -11111;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.22);
    transform: translateY(-120%);
  }
  .header .navigation .navigation-link {
    font-size: 3em;
  }
  .header .navigation.active {
    z-index: 2;
    transform: translateY(0);
  }
  .header .navigation.active .navigation-list .navigation-link {
    color: #000;
  }
  .header .navigation.bgColor {
    background-color: crimson;
    z-index: 2;
  }
  .header .navigation.bgColor .navigation-link {
    color: #fff !important;
  }
  .header .navigation.bgColor .navigation-link:hover {
    color: #000 !important;
  }
  .header .navigation-list {
    display: inline-block;
    text-align: center;
    width: 340px;
  }
  .header .navigation-list .navigation-link {
    display: inline-block;
    margin: 0 0 50px 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .main-title {
    font-size: 3em;
  }

  .about-me {
    margin-top: 80px;
  }
  .about-me .about-me__text {
    display: inline-block;
  }
  .about-me .about-me__col {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-me .about-me__col img {
    width: 100%;
  }
  .about-me .about-me__col .about-me__col-title {
    text-align: left;
  }

  .my-skills {
    padding: 70px 10px 50px;
  }
  .my-skills .section-text {
    margin-bottom: 30px;
  }
  .my-skills .my-skills__text {
    display: inline-block;
    width: 100%;
  }
  .my-skills .my-skills__text .my-skills__col {
    width: 100%;
    padding: 20px;
  }
  .my-skills .my-skills__text .my-skills__text-description h2 {
    text-align: left;
  }

  .my-services {
    padding: 70px 30px;
  }
  .my-services .my-services__text .my-services__cards {
    display: flex;
    flex-wrap: wrap;
  }
  .my-services .my-services__text .my-services__cards .my-services__card {
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 25px auto;
  }

  .contact .contact-me .contact-me__card {
    margin-bottom: 25px;
  }
  .contact .form {
    background: #fff;
    max-width: 600px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }
  .contact .form .form-title {
    font-size: 2.5em;
    margin: 20px 0;
  }
  .contact .form input, .contact .form textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1.12em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    transition: all 0.2s linear;
  }
  .contact .form input:focus, .contact .form textarea:focus {
    border-color: #1dd1a1;
  }
  .contact .form .send-button {
    color: #fff;
    background: crimson;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid crimson;
  }
  .contact .form .send-button:hover {
    background-color: transparent;
    color: #000;
    border-color: #000;
  }

  .sticky .navigation-link:hover {
    color: #000 !important;
  }
}
@media (min-width: 460px) and (max-width: 550px) {
  .about-me {
    margin-top: 150px;
  }
}
@media (min-width: 550px) and (max-width: 1200px) {
  .about-me {
    margin-top: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
